.list-wrapper {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.list {
    list-style-type: none;
    overflow: hidden;
}

.pilotInfo {
    overflow: hidden;
}

.pilotInfoList {
    list-style-type: none;
    width: max-content;
}

.pilotLi {
    border: 2px solid rgb(189, 245, 245);
    border-radius: 5px;
    width: 120px;
    float: left;
    text-align: center;
}