.informatter {
    list-style-type: none;
    margin-left: auto;
}

.informatter li {
    float: left;
}

.season-info-wrapper {
    margin-left: auto;
    margin-right: auto;
}

.season-info li {
    list-style-type: none;
    float: left;
}

.season-info select {
    font-size: 16px;
    padding: 5px;
    margin: 2px;
    border-radius: 7px;
    background-color: rgba(233, 233, 247, 0.788);
}

#info {
    border-radius: 7px;
    padding: 10px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.753);
}